<div class="footer-box">
  <div class="container py-3">
    <div class="row">
      <div class="col-12">
        <div class="footer-head">
          <div class="row mb-2">
            <div class="col-3 col-sm-4 col-lg-3">
              <div class="footer-logo-container">
                <a
                  class="d-inline-block h-100 mw-100 text-decoration-none"
                  routerLink="/"
                >
                  <div class="footer-title">{{ TITLE.ZIP_UTILS }}</div>
                </a>
              </div>
            </div>

            <!-- <div class="col-4 col-sm-4 col-lg-6">
              <div class="visitors-count"></div>
            </div> -->

            <!-- <div class="col-5 col-sm-4 col-lg-3">
              <div class="social-links">
                <ul class="social-icon-container">
                  <li class="fb"><i class="fab fa-facebook-square"></i></li>
                  <li class="twitter"><i class="fab fa-twitter-square"></i></li>
                  <li class="insta"><i class="fab fa-instagram"></i></li>
                  <li class="youtube"><i class="fab fa-youtube"></i></li>
                </ul>
                <span class="follow-us-text">
                  {{ 'footer.follow_us' | translate }}
                </span>
              </div>
            </div> -->

            <div class="col-9 col-sm-8 col-lg-9">
              <div class="footer-links text-end">
                <div class="legal-policy">
                  <label for="legal-policy"></label>
                  <a
                    id="legal-policy"
                    class="text-decoration-none footer-link"
                    href="https://drive.google.com/file/d/1Ed_Can1LipXpwhIEqy_igWL9qxn28tMQ/view"
                    target="_blank"
                  >
                    Legal &amp; Policy Documents
                  </a>
                </div>

                <div class="contact-us">
                  <label for="contact-us">Contact Us:</label>
                  <a
                    id="contact-us"
                    href="mailto:ziputils25@gmail.com"
                    class="text-decoration-none footer-link"
                  >
                    ziputils25&#64;gmail.com
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="copyright-text mt-3">
          &copy; {{ currentYear }} Zip-Utils - All rights reserved | A free
          utility platform for text, links, and QR tools
        </div>
      </div>
    </div>
  </div>
</div>
