<div class="main-content-text" [class.fade-out]="loading">
  <div class="textarea-flex-wrapper">
    <textarea
      [(ngModel)]="textInput"
      rows="8"
      placeholder="Paste your text here..."
    ></textarea>

    <div class="button-row">
      <div class="dropdown-group">
        <label for="expiry-select">Expiry Time:</label>
        <select id="expiry-select" [(ngModel)]="expiryInMinutes">
          <option
            *ngFor="let expiryTime of expiryTimes"
            [value]="expiryTime.value"
          >
            {{ expiryTime.text }}
          </option>
        </select>
      </div>
      <app-bot-guard #botGuard></app-bot-guard>

      <button [disabled]="!textInput.trim()" (click)="generateLink(botGuard)">
        Generate
      </button>
    </div>
  </div>
  <app-loader-overlay
    *ngIf="loading"
    [message]="'Generating link...'"
  ></app-loader-overlay>
</div>
<p class="footer-note">
  Note - We encrypt every message before storing it, ensuring complete privacy.
  No one can access your text, and it’s permanently removed once the expiry time
  is reached.
</p>
