<div class="main-content-url">
  <form [formGroup]="urlForm" (ngSubmit)="onSubmit()" class="tool-box">
    <input
      id="url"
      name="url"
      type="text"
      formControlName="url"
      class="form-control"
      placeholder="Paste your long URL here..."
      title="Paste your long URL here..."
    />

    <!-- Error message box -->
    <div
      *ngIf="
        urlForm.get('url')?.invalid &&
        (urlForm.get('url')?.touched || urlForm.get('url')?.dirty)
      "
      class="validation-error"
    >
      <div *ngIf="urlForm.get('url')?.errors?.['required']">
        URL is required.
      </div>
      <div *ngIf="urlForm.get('url')?.errors?.['pattern']">
        Please enter a valid URL.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="urlForm.invalid">
      Shorten URL
    </button>
  </form>

  <div *ngIf="shortUrl">
    <app-copy-url-box [shortUrl]="shortUrl"></app-copy-url-box>
  </div>
  <app-loader-overlay
    *ngIf="loading"
    [message]="'Processing...'"
  ></app-loader-overlay>
</div>
