<div class="main-content-url">
  <form [formGroup]="urlForm" (ngSubmit)="onSubmit()" class="tool-box">
    <input
      id="url"
      name="url"
      type="text"
      formControlName="url"
      class="form-control"
      placeholder="Paste your long URL here..."
      title="Paste your long URL here..."
    />

    <!-- Error message box -->
    <div
      *ngIf="
        urlForm.get('url')?.invalid &&
        (urlForm.get('url')?.touched || urlForm.get('url')?.dirty)
      "
      class="validation-error"
    >
      <div *ngIf="urlForm.get('url')?.errors?.['required']">
        URL is required.
      </div>
      <div *ngIf="urlForm.get('url')?.errors?.['pattern']">
        Please enter a valid URL.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="urlForm.invalid">
      Shorten URL
    </button>
  </form>

  <div *ngIf="shortUrl">
    <div class="copy-url-wrapper">
      <span class="copy-url-label">Copy URL:</span>
      <div class="copy-url-box">
        <span class="url-text">{{ shortUrl }}</span>
        <button
          class="copy-btn"
          (click)="copyUrl()"
          [class.copied]="copied"
          title="Copy link"
        >
          <span *ngIf="!copied"><i class="fa-solid fa fa-copy"></i></span>
          <span *ngIf="copied">
            <i class="fa-solid fa fa-clipboard-check"></i>
          </span>
        </button>
      </div>
    </div>

    <div class="snackbar" *ngIf="showSnackbar">✅ Copied to clipboard!</div>
  </div>

  <!-- Loader overlay -->
  <div class="loader-overlay" *ngIf="loading">
    <div class="spinner"></div>
    <p>Processing...</p>
  </div>
</div>
