<ng-container *ngIf="!showLoaderOverlay && !showNotFoundPage; else initialView">
  <div class="custom-container">
    <div class="header-container">
      <app-header></app-header>
    </div>
    <div class="main-content">
      <router-outlet />
    </div>
    <div class="footer-container">
      <app-footer></app-footer>
    </div>
  </div>
</ng-container>

<ng-template #initialView>
  <app-loader-overlay *ngIf="showLoaderOverlay"></app-loader-overlay>
  <app-page-not-found *ngIf="showNotFoundPage"></app-page-not-found>
</ng-template>
