<div class="main-content-text">
  <button class="back-btn" (click)="goBack()" title="Go back">
    <i class="fa-solid fa-arrow-left fa"></i> {{ backButtonText }}
  </button>
  <div class="textarea-flex-wrapper">
    <textarea rows="8" readonly>{{ text }}</textarea>
    <button
      class="copy-text-btn"
      (click)="copyText()"
      [class.copied]="textCopied"
      title="Copy text"
    >
      <span *ngIf="!textCopied"><i class="fa-solid fa fa-copy"></i></span>
      <span *ngIf="textCopied"><i class="fa-solid fa fa-clipboard-check"></i></span>
    </button>
  </div>
  <app-copy-url-box [shortUrl]="currentUrl"></app-copy-url-box>
</div>
