<div class="qr-container">
  <!-- Tabs -->
  <div class="qr-tabs">
    <button
      [class.active]="mode === 'generator'"
      (click)="changeMode('generator')"
    >
      QR Generator
    </button>

    <button [class.active]="mode === 'scanner'" (click)="changeMode('scanner')">
      QR Scanner
    </button>
  </div>

  <!-- GENERATOR -->
  <section *ngIf="mode === 'generator'" class="qr-panel qr-generator">
    <input
      type="text"
      placeholder="Enter text or URL"
      [(ngModel)]="inputValue"
    />

    <button
      class="primary action-btn"
      [disabled]="!inputValue.trim() || inputValue.length > 300"
      (click)="generateQr()"
    >
      Generate QR
    </button>

    <!-- Error message box -->
    <div *ngIf="inputValue.length > 300" class="validation-error">
      Text or URL length must be less then 300 characters!
    </div>

    <!-- QR RESULT -->
    <div *ngIf="generatedValue" class="qr-card">
      <span class="close" (click)="clearQr()">✕</span>

      <qrcode [qrdata]="generatedValue" [width]="200"> </qrcode>

      <div class="qr-actions">
        <button (click)="downloadQr()">Download</button>
        <button (click)="shareQr()">Share</button>
      </div>
    </div>
  </section>

  <!-- SCANNER -->
  <section
    class="qr-panel qr-scanner"
    *ngIf="scannerPageVisited"
    [hidden]="mode !== 'scanner'"
  >
    <div class="scanner-card">
      <zxing-scanner
        [formats]="allowedFormats"
        (scanSuccess)="onScanSuccess($event)"
      >
      </zxing-scanner>
    </div>

    <div *ngIf="scannedResult" class="scan-result">
      <div class="scan-result-header">
        <label>Scanned Result 👇</label>
        <button
          class="copy-text-btn"
          (click)="copyText()"
          [class.copied]="textCopied"
          title="Copy text"
        >
          <span *ngIf="!textCopied"><i class="fa-solid fa fa-copy"></i></span>
          <span *ngIf="textCopied"
            ><i class="fa-solid fa fa-clipboard-check"></i
          ></span>
        </button>
      </div>
      <p class="scan-result-content">{{ scannedResult }}</p>
    </div>
  </section>
</div>

<app-loader-overlay
  *ngIf="loading"
  [message]="'Generating link...'"
></app-loader-overlay>
<app-faq [items]="faqItems"></app-faq>
