.qr-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background: var(--card-bg);
  border-radius: 1.5rem;
  box-shadow: 0 6px 16px var(--shadow);
  text-align: center;
  margin-bottom: 1rem;
}

/* Tabs */
.qr-tabs {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

.qr-tabs button {
  border-radius: 0.5rem;
  border: none;
  color: #666;
  height: 2.5rem;
  width: 45%;
}

.qr-tabs button.active {
  background: var(--primary);
  color: white;
}

/* Panel */
.qr-panel {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.qr-scanner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

input {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.75rem;
  border: 1px solid #ccc;
}

/* Buttons */
.qr-actions button,
button.action-btn {
  background: var(--primary);
  color: white;
  border: none;
  padding: 0.7rem 1.4rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
}

.qr-actions button:hover,
button.action-btn:hover {
  background: var(--secondary);
}

button.action-btn:disabled {
  background: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
  box-shadow: none;
}

.qr-actions button {
  padding: 0.4rem 0.8rem;
}

/* QR Card */
.qr-card {
  position: relative;
  padding: 1.5rem;
  background: #eee;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.qr-card .close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.1rem;
  opacity: 0.6;
}

.qr-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

/* Scanner */
zxing-scanner {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.scanner-card {
  width: 45%;
}

.scan-result {
  padding: 1rem;
  background: white;
  border-radius: 0.75rem;
  color: #666;
  width: 45%;
}

.scan-result-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.3rem;
}

.scan-result-header label {
  font-size: 1rem;
}

.scan-result .scan-result-content {
  margin-top: 0.25rem;
  word-break: break-all;
  text-align: left;
  color: #444;
}

.copy-text-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #555;
  transition:
    color 0.25s ease,
    transform 0.2s ease;
}

.copy-text-btn:hover {
  color: #000;
}

.copy-text-btn.copied {
  color: #28a745;
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .qr-container {
    max-width: 100%;
    margin: 0.75rem;
    padding: 1rem;
    border-radius: 1rem;
  }

  .scanner-card {
    width: 48%;
  }

  .scan-result {
    padding: 1rem;
    background: white;
    border-radius: 0.75rem;
    color: #666;
    width: 48%;
  }
}

@media (max-width: 991px) {
  .scanner-card {
    width: 48%;
  }

  .scan-result {
    width: 48%;
  }
}

@media (max-width: 575px) {
  .qr-scanner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .scanner-card {
    width: 100%;
  }

  .scan-result {
    width: 100%;
  }

  .scan-result {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
