/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body {
  height: 100%;
}

/********** custom scrollbar css **********/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  height: 40vh;
  width: 40vw;
}

/********** css for theme toggle **********/
:root {
  --bg: #f0f2f5;
  --card-bg: #f8f9fa;
  --text: black;
  --primary: #4b6cb7;
  --secondary: #182848;
  --shadow: rgba(0, 0, 0, 0.06);
  --banner-gradient: linear-gradient(135deg, var(--primary), var(--secondary));
  --scrollbar-color: var(--primary);
  --faq-ans-color: #374151;
  --faq-title-hover-color: #1d4ed8;
  --faq-title-expand-color: #1e40af;
}

[data-theme='dark'] {
  --bg: #121212;
  --card-bg: #1e1e1e;
  --text: #e0e0e0;
  --primary: #3f8efc;
  --secondary: #2d6cca;
  --shadow: rgba(0, 0, 0, 0.4);
  --banner-gradient: linear-gradient(135deg, var(--primary), var(--secondary));
  --scrollbar-color: #ddd;
  --faq-ans-color: #a0aec0;
  --faq-title-hover-color: #a0d9ff;
  --faq-title-expand-color: #667eea;
}

/********** general css **********/
body {
  font-family: 'Segoe UI', sans-serif;
  background: var(--bg);
  color: var(--text);
  transition:
    background 0.5s,
    color 0.5s;
}

input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-touched,
textarea.ng-invalid.ng-dirty {
  border-color: red !important;
  color: red !important;
}

.validation-error {
  font-style: italic;
  color: red;
}

/* Chrome, Safari, Edge */
textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.75rem;
}

textarea::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 0.75rem;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/* Firefox */
textarea {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) #f1f1f1;
}
